.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 124, 202);
  margin-bottom: 20px;
  width: 400px;
  border-radius: 10px;
}

.profileDisplayName {
  padding-left: 10px;
  color: white;
}

.profileBtn {
  display: flex;
  flex-direction: row;
}
