@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: rgba(33, 32, 32, 0.4);
}

h1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

footer {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-weight: 800;
  text-align: center;
}
