.authForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authForm > input {
  color: rgb(170, 124, 202);

  margin: 0.2rem;
  padding: 1rem 2rem;

  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: none;
  border: 1px solid rgb(221, 203, 235);
  border-radius: 5px;
}

.authForm > input::placeholder {
  color: rgb(170, 124, 202);
}

.authForm > input:hover,
.authForm > input:focus,
.authForm > input:active {
  outline: none;
  border: 1px solid rgb(139, 103, 165);
}

.authForm > input:last-child {
  background-color: rgb(170, 124, 202);
  color: white;

  margin-top: 0.5rem;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.5s;
}

.authForm > input:last-child:hover,
.authForm > input:last-child:focus,
.authForm > input:last-child:active {
  background: rgb(139, 103, 165);
  outline: 0;
}

.authForm > input:last-child:disabled {
  opacity: 0.5;
}

.toggleAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;

  color: rgb(139, 103, 165);
  font-weight: 700;

  cursor: pointer;
}

.errorAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
