.profileEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 10px;
}

.displayNameEdit {
  margin: 0.2rem;
  padding: 0.5rem;
  color: rgb(170, 124, 202);
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  border: 1px solid rgba(115, 83, 138, 0.4);
  border-radius: 5px;
}

.displayNameEdit::placeholder {
  color: rgb(170, 124, 202);
}

.displayNameEdit:focus,
.displayNameEdit:hover,
.displayNameEdit:active {
  outline: none;
  border: 1px solid rgb(139, 103, 165);
}

#profileImgEdit {
  display: none;
}

.profileImgUp {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
}

.profileImgPreviewCtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileImgPreview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
}

.profileImgClear {
  margin-left: 5px;
  background-color: rgb(170, 124, 202);
  color: white;
  border: 0.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
}

.ProfileEditSubmit {
  margin-left: 15px;
  margin-right: 1px;
}

.ProfileEditSubmit,
.editProfileCancelBtn {
  background-color: rgb(170, 124, 202);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
}

.EditProfileBtn {
  margin-right: 5px;
  background-color: rgb(170, 124, 202);
  color: white;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.LogOutBtn {
  float: right;
  margin-bottom: 20px;
  background-color: rgb(170, 124, 202);
  color: white;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
