.profileEditContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileImgEdit {
  display: none;
}

.profileImgUp {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
}

.EditProfileBtn {
  background-color: rgb(170, 124, 202);
  color: white;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
